<!DOCTYPE html>
<html lang="en-us">
      <head>
    <meta charset="UTF-8">
    <title>Rainbow by Amonsoft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section  class="page-header">
          <a href="index.html" class="btn">HOME</a>
       <h2>Enter Your Complaints:-</h2> 
    </br>
    <form action="/server/complain.php" method="post" autocomplete="off">
        <input id="card_no" name="card_no" placeholder="Card_No" class="btn" /></br>
        <input id="name" name="name" placeholder="name" class="btn"  /></br>
        <input id="purchase_ID"  name="purchaseid" placeholder="Purchase ID" type="number" class="btn"  /></br>
<input placeholder="Enter Complaint" name="problem" id="problem" multiple class="btn" required   />  </br></br>  
        <button class="btn" >Send</button></br></br></br></br></br></br></br></br>
    </form>
        
      </section>
        </body>
</html>