<!DOCTYPE html>
<html lang="en-us">
    <head>
    <meta charset="UTF-8">
    <title>Rainbow by Amonsoft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
    <body>
        <section  class="page-header">
            <a href="index.html" class="btn">HOME</a>
        <form method="post" action=" deposit.php" autocomplete="off">
    <h2>Deposit</h2>
        
    <input id="name" placeholder="Name" name="name" class="btn"  required /></br>
    <input id="card" placeholder="Card No." name="card" class="btn" required /></br>
    <input id="amount" placeholder="0.000 UGX" name="amount" class="btn" required /> </br>
    <h2>Agent Info</h2>
       
    <input id="agent" placeholder="Agent ID" name="agent" class="btn" required /></br>
    <input id="location" placeholder="Location" name="location" class="btn" required /></br>
 
    <button id="submit" type="submit" class="btn">Submit</button>
    </form>

 </section>


    </body>

    
</html>