<!DOCTYPE html>
<html lang="en-us">
    <head>
    <meta charset="UTF-8">
    <title>Rainbow by Amonsoft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
        <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
        <script src="scripts/jquery-2.2.3.min.js"></script>
  </head>
    <body>
         <section  class="page-header">
          <a href="index.html" class="btn">HOME</a>
     <h2>Registration Form</h2>
     <h4>Enterprise Form</h4>
    <form action=" register.php" method="post" autocomplete="off" >
 <input name="fname" id="fname" placeholder="First Name" required  class="btn"/></br></br>
 <input name="lname" id="lname" placeholder="Second Name" required class="btn"  /></br></br>
 <input name="phone" type="tel" placeholder="Telephone" id="name" required class="btn" /></br></br>
 <input name="email" type="email" id="email" placeholder="Email" required class="btn" /></br></br>
 <input name="gender" id="gender" placeholder="Male or Female" required class="btn" /></br></br>
 <input name="dob" type="date" required class="btn" /></br></br>
 <input name="location" id="location" placeholder="Location" required class="btn" /></br></br>
 <input name="job" placeholder="Occupation" id="job" required class="btn"/></br></br>
 <input name="nid" id="nid" placeholder="National ID" required class="btn"  /></br></br>
 <input name="uname" id="uname" placeholder="Username" required class="btn" /></br></br>
<input name="pwd" id="pwd" type="password"  placeholder="Password" required class="btn" /></br></br>
 <input name="pin" maxlength="4" id="pin" placeholder="PIN(4)" type="password" pattern="[0-9]*" required class="btn" /></br></br>
 <input name="product" id="product" placeholder="Product Line" required class="btn"  /></br></br>
 <input name="reg_no" id="reg_no" placeholder="Registration Number" type="number" required class="btn"  /></br></br>
 <input name="business" id="business" placeholder="Business Name" required class="btn"  /></br></br>
 <input name="tin" id="tin" placeholder="TIN/ Social Security" type="number" pattern="[0-9]*" required class="btn"  /></br></br>
<input name="type" value="seller" hidden="hidden"/>
<button type="submit" class="btn" >Register</button>
</form>


</section>
    </body>

<script>
     // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCWiOxfjaIxZpRySZ24HKWrS5j9EqZ1p4M",
    authDomain: "rainbow-512e0.firebaseapp.com",
    databaseURL: "https://rainbow-512e0.firebaseio.com",
    storageBucket: "rainbow-512e0.appspot.com",
  };
  firebase.initializeApp(config);
    
    
    $(document).ready(function(){
$("#btn").click(function(){
     
        var email = document.getElementById('email').value;
        var password = document.getElementById('pwd').value;
            
    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  
        console.log(errorMessage);
        console.log(errorCode);
        // var errorx = document.getElementById('error');
       // errorx.innerHTML = errorMessage;
});
        
});
    });
</script>
    
    
</html>