<!DOCTYPE html>
<html lang="en-us">
    <head>
    <meta charset="UTF-8">
    <title>Rainbow by Amonsoft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
        <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
        <script src="scripts/jquery-2.2.3.min.js"></script>
  </head>
    <body>
         <section  class="page-header">
          <a href="index.html" class="btn">HOME</a>
     <h2>Teep Uganda Registration Form</h2>
     
    <form action="register.php" method="post" autocomplete="off" >
 <input name="fname" id="fname" placeholder="First Name" required  class="btn"/></br></br>
 <input name="lname" id="lname" placeholder="Second Name" required class="btn"  /></br></br>
 <input name="phone" type="tel" placeholder="Telephone" id="name" required class="btn" /></br></br>
 <input name="email" type="email" id="email" placeholder="Email" required class="btn" /></br></br>
 <input name="business_area" id="business_area" placeholder="business_area" required class="btn" /></br></br>
 <input name="dob" type="date" required class="btn" /></br></br>
 <input name="business_name" id="business_name" placeholder="business_name" required class="btn" /></br></br>
 <input name="business_desc" placeholder="business_desc" id="business_desc" required class="btn"/></br></br>
 <input name="business_location" id="business_location" type="number" placeholder="business_location" required class="btn"  /></br></br>
 <input name="bus_raised_money" id="bus_raised_money" placeholder="Total Money Raised" required class="btn" type="number" /></br></br>
 <input name="website" id="website" placeholder="Website" required class="btn" /></br></br>
 <input name="bus_email" id="bus_email" placeholder="business email" required class="btn" />
</br>
<input name="role" id="role" placeholder="Role" required class="btn" /></br></br>
<input name="twitter" id="twitter" placeholder="Twitter" required class="btn" /></br></br>
<input name="facebook" id="facebook" placeholder="Facebook" required class="btn" /></br></br>
<input name="instagram" id="instagram" placeholder="Instagram" required class="btn" /></br></br>
<input name="snapchat" id="snapchat" placeholder="Snapchat" required class="btn" /></br></br>
<input name="linkedin" id="linkedin" placeholder="Linkedin" required class="btn" /></br></br>
<button type="submit" id="btn" class="btn" >Register</button>
</form>


</section>
    </body>
<script>

</script>
    
</html>